@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical">
      <form action="/" method="get">
        <button type="submit" class="btn btn-default">Return to Home</button>
      </form>
      <form action="/contacts/clear" method="post">
        <button type="submit" class="btn btn-default">Clear All Contacts</button>
      </form>
    </div>
  </div>
  <div class="col-md-10">
    <form action="/" method="post">
      <div class="form-group">
        <label for="new-name">Contact</label>
        <input class="form-control" id="new-name" name="new-name" type="text">
      </div>
      <div class="form-group">
        <label for="new-phone">Phone</label>
        <input class="form-control" id="new-phone" name="new-phone" type="text">
      </div>
      <div class="form-group">
        <label for="new-address">Address</label>
        <input class="form-control" id="new-address" name="new-address" type="text">
      </div>
      <button type="submit" class="btn btn-default">Add this Contact</button>
    </form>
  </div>
</div>
