@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical">
      <form action="/contacts/new" method="get">
        <button type="submit" class="btn btn-default">Add Another Contact</button>
      </form>
      <form action="/" method="get">
        <button type="submit" class="btn btn-default">Return to Home</button>
      </form>
    </div>
  </div>
  <div class="col-md-10">
    <h1>You Added a New Contact --- Want a Cookie?</h1>
  </div>
</div>
